﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}
#com {
    -moz-box-shadow: 1px 1px 0px 0px #000000;
-webkit-box-shadow: 1px 1px 0px 0px #000000;
-o-box-shadow: 1px 1px 0px 0px #000000;
box-shadow: 1px 1px 0px 0px #000000;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=134, Strength=0);
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}
#wrapper {
    overflow:auto;
    height:300px;
    list-style-type:none;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
.flashed {
    position: relative;
    right: 20px;
    list-style-type: none;
    font-family: Port Lligat Slab;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
}
.error {
	background-image: -moz-linear-gradient(#F43600, #D83C31);
	background-image: -webkit-linear-gradient(#F43600, #D83C31); }