{% extends "layout.html" %}
{% block content %}
{% load i18n %}
<div class="jumbotron" id="jumbotron" style="">
{% load staticfiles %}        <script src="{% static 'app/scripts/Three.js' %}"></script>
        <script src="{% static 'app/scripts/plane.js' %}"></script>
        <script src="{% static 'app/scripts/thingiview.js' %}"></script>
        <script src="{% static 'app/scripts/html2canvas.js' %}"></script>
        <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
        <script>
            window.onload = function () {
                thingiurlbase = "{% static 'app/scripts/' %}";
                thingiview = new Thingiview("viewer");
                thingiview.setObjectColor('#C0D8F0');
                thingiview.initScene();
                thingiview.loadSTL("{% static 'app/objects/' %}{{ description.NameFile }}.stl");
                thingiview.setRotation(false);
            }
        </script>
    {% include "button.html" %}
    <a href="/static/app/objects/{{ description.NameFile }}.stl">{{ description.title }}</a>
    <p>
        <div id="viewer" style="width:400px;height:400px; "></div>
        <div id="test" style=""></div>
    </p>
    <div id="desc" style="">
        {% autoescape off %}
            {{ description.Description }}
        {% endautoescape %}
    </div>
</div>	
{% if user.is_authenticated %}
    <form method="post" class="form-horizontal">
        {% csrf_token %}
        <h4>{% trans "ComPost" %} </h4>
        <textarea name="Commentaire" cols="50" rows="1"></textarea>
        <button type="submit" class="btn btn-default btn-lg" onclick="submit">
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Post
        </button>
    </form>
{% else %}
<p> {% trans "Commentaire" %}   </p>

{% endif %}
<div class="jumbotron" >
    {% for i in Commentaire %}
        <div id="com" >
            <article itemscope itemtype="http://schema.org/Article">
                <p itemprop="name" >
                   {% trans "ComPres" %} {{ i.UserCom }}
                </p>
                <section itemprop="text">
                    <p class="lead">
                     {{ i.Text }}
                    </p>
                </section>
            </article>
        </div>
    {% endfor %}
</div>
{% endblock %}
