﻿<p>
    <button type="button" class="btn btn-default btn-lg" onclick="thingiview.setCameraView('top');">
        Top
    </button>
    <button type="button" class="btn btn-default btn-lg" onclick="thingiview.setCameraView('side');">
        Side
    </button>
    <button type="button" class="btn btn-default btn-lg" onclick="thingiview.setCameraView('bottom');">
         Bottom
    </button>
    <button type="button" class="btn btn-default btn-lg" onclick="thingiview.setCameraView('diagonal');">
        Diagonal
    </button>
    <button type="button" class="btn btn-default btn-lg" onclick="thingiview.setCameraZoom(5);">
        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span> Zoom +
    </button>
    <button type="button" class="btn btn-default btn-lg" onclick="thingiview.setCameraZoom(-5);">
        <span class="glyphicon glyphicon-zoom-out" aria-hidden="true"></span> Zoom -
    </button>
</p>
<p>
    Rotation: 
    <button type="button" class="btn btn-default btn-lg" onclick="thingiview.setRotation(true);">
        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> On
    </button>
    <button type="button" class="btn btn-default btn-lg" onclick="thingiview.setRotation(false);">
        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Off
    </button>
</p>