{% extends "layout.html" %}

{% block content %}
{% load i18n %}
<h2>{{ title }}.</h2>
<h3>{% trans "Message" %}</h3>

<address>
    <strong>Support:</strong>   <a href="mailto:postmaster@diypiandco.com">postmaster@diypiandco.com</a><br />
</address>

{% endblock %}
