﻿{% extends "layout.html" %}
{% block content %}
{% load i18n %}
<div class="jumbotron" id="jumbotron" style="">
    <h1>{% trans "Image to Convert" %}:</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="fileToUpload" id="fileToUpload" />
        <button type="submit" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Convertir
    </form>
</div>	
{% endblock %}
