{% extends "layout.html" %}
{% block content %}
{% load i18n %}
	<div class="jumbotron" >
		<article itemscope itemtype="http://schema.org/Article">
            
			<h1 itemprop="name" >
               {% trans "Getting started" %}
            </h1>
			<section itemprop="text">
				<p class="lead">{% trans "Welcome to" %} 
					<a href="http://python.diypiandco.com"> 
						python.diypiandco.com 
					</a> 
					 {% trans "you can deposit your stl file for sharing and viewing." %}
				</p>
                <p>
                     {% trans "for the glory and prosperity" %}
                </p>
                <p>
                     {% trans "you can find source code here" %} 
                    <a href="https://git.diypiandco.com/speedi57/stlstorage">
                        https://git.diypiandco.com/speedi57/stlstorage
                    </a> 
                </p>
                <p>
                     {% trans "Last register" %} : {{ username }}
                </p>
               
			</section>
		</article>
	</div>
{% endblock %}