﻿{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
        <script src="{% static 'app/scripts/jquery-1.10.2.min.js' %}"></script>
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Stl Storage</a>
				</div>
           
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
							<li>
						{% get_available_languages as LANGUAGES %}
						<form action="/i18n/setlang/" method="post">
							{% csrf_token %}
							<input name="next" type="hidden" value="/" />
							<select name="language">
								{% get_language_info_list for LANGUAGES as languages %}
								{% for language in languages %}
									<option value="{{ language.code }}" {% ifequal language.code LANGUAGE_CODE %}selected="selected"{% endifequal %}>{{ language.name_local|capfirst }}</option>
								{% endfor %}
							</select>
							<button type="submit" class="btn btn-default btn-lg" >
								OK
							</button>
						</form>
					</li>
                    <li><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                    <li><a href="{% url 'view' %}"><span class="glyphicon glyphicon-th-list"></span> Viewer</a></li>
                    <li><a href="{% url 'ImageToStl' %}"><span class="glyphicon glyphicon-flash"></span> Image To Stl</a></li>
                    <li><a href="{% url 'contact' %}"><span class="glyphicon glyphicon-envelope"></span> Contact</a></li>
                    <li><a href="{% url 'support' %}"><span class=" glyphicon glyphicon-question-sign"></span> support</a></li>
					{% include 'loginpartial.html' %}
				</ul>
            </div>
        </div>
    </div>
<div class="container body-content">
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="flashed {{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% block content %}{% endblock %}
        <hr/>
        <footer>
            <p>&copy; {{ year }} - diypiandco</p>
        </footer>
    </div>

        <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
        <script src="{% static 'app/scripts/respond.js' %}"></script>
{% block scripts %}{% endblock %}

</body>
</html>
