﻿{% extends "layout.html" %}
{% block title %}liste des fichier 3d disponible{% endblock %}
{% block content %}
{% load i18n %}
<article itemscope itemtype="http://schema.org/Article">
<div id="jumbotron">
    <h1>{% trans "MesgList" %}</h1>
    <p>
        <span class=" glyphicon glyphicon-list-alt"></span>
            {% trans "Categorie" %}:
    </p>

        <form method="POST" enctype="multipart/form-data" action="./" id="myForm">
            {% csrf_token %}
            <input type="submit" value="Category" onclick="submit" />
            <select name="categorie" size="1">
                <option>
                    *
                    {% for i in cat %}
                <option>
                    {{i}}
                    {% endfor %}
            </select>
        </form>

        <div class="fichiers">
            <div class="row">
                {% for i in data %}
                    <div class="col-xs-6 col-md-3">
                        <div style="list-style-type : none">
			                <h1 itemprop="name">{{i.title}}</h1>
                            <p itemprop="author">{% trans "Posted By" %} <a href="/view/{{i.user}}">{{i.user}}</a></p>
                            <br />
                            <a href  ="/view/{{i.user}}/{{i.title}}".stl
                            style=" display : inline-block; vertical-align : top; width : 300px" itemprop="url">
                                {% load staticfiles %}
                                <img src="{% static 'app/objects/' %}{{i.NameFile}}.png " />
                            </a>
                            <br />
                        </div>
                    </div>
                {% endfor %}
                </div>
        </div>
</div>
</article>
        <ul class="pagination pagination-centered">
            {% if data.has_previous %}
                <li><a href="1"><<</a></li>
                <li><a href="{{ data.previous_page_number }}"><</a></li>
            {% endif %}
            {% for i in nb %}
                <li {% if data.number == i %} class="active" {% endif %}><a href="{{i}}">{{i}}</a></li>
            {% endfor %}
            {% if data.has_next %}
                <li><a href="{{ data.next_page_number }}">></a></li>
                <li><a href="{{ data.paginator.num_pages }}">>></a></li>
            {% endif %}
        </ul>
{% endblock %}