{% if user.is_authenticated %}
	<form id="logoutForm" action="/logout" method="post" class="navbar-right">
		{% csrf_token %}
		<ul class="nav navbar-nav navbar-right">
			<li><a href="{% url 'upload' %}"><span class="glyphicon glyphicon-cloud-upload"></span> Upload</a></li>
			<li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-off"></span> Log off</a></li>
			 {% if user.is_superuser %}
				<li><a href="/admin/">Admin Page</a></li>
			{% endif %}
		</ul>
	</form>
{% else %}
	<ul class="nav navbar-nav navbar-right">
		<li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-heart-empty"></span> Register</a></li>
		<li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-user"></span> Log in</a></li>
	</ul>
{% endif %}