﻿{% extends "layout.html" %}

{% block content %}
{% load i18n %}
<script src='https://www.google.com/recaptcha/api.js'></script>
<div class="container">
    <div class="row">
        <form role="form" method="post">
            {% csrf_token %}
            <div class="col-lg-6">
              {{ form }}
				<div class="g-recaptcha" data-sitekey="6Lf48AMTAAAAAPUAsM5kNVLrwfe2WDpp6t9Z1fe1"></div>
                <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
            </div>
        </form>
    </div>
</div>
{% endblock %}