﻿{% extends "layout.html" %}
{% block content %}
{% load i18n %}
	<div class="jumbotron" >
        <p id="load">
            Search Assistant
            {% load staticfiles %}
            <img src="{% static 'app/image/' %}load.gif " />
        </p>
        <form id="form_message" action="./" method="post">
            {% csrf_token %}
            <div id="wrapper">
                <ul id="chat">
                </ul>
            </div>
            <p>
                <label for="message">Message</label> :  <input type="text" name="message" id="message" />
                <input type='hidden' name='init' value='' />
                <input type="submit" value="Envoyer" class="btn btn-default"/>
            </p>
        </form>
	</div>
    <script type='text/javascript'>

        $("#form_message").hide();
        $(document).ready(OnReady); // Abonne le callback à exécuter lorsque tout le DOM est chargé
        function OnReady() {
            $("#form_message").submit(OnSubmit); // Abonne un callback à l'évènement "submit" du formulaire
            $.post("./", { csrfmiddlewaretoken: '{{ csrf_token }}' , init: "init",message:'' },endInit);

        }
        function endInit() {
            $("#load").hide();
            $("#form_message").show();
        }
        function OnSubmit() {
            var T = $("#message").val();
            var m = '<li> You :' + T + '</li>';
            $("#chat").prepend(m);
           $.ajax({
                type: $(this).attr("method"), // Récupère la méthode d'envoi du formulaire, ici "POST"
                url: $(this).attr("action"), // Récupère l'url du script qui reçoit la requête, ici "add.php"
                data: $(this).serialize(), // Fabrique la "query string" contenant les deux nombres
                success: OnSuccess // Callback qui récupère la réponse du serveur
            });
    
            return false; // Annule l'envoi classique du formulaire
        }

        function OnSuccess(result) {
            $("#chat").prepend(result);// Insère le résultat dans la balise d'id "result"
            $('#message').val("");
        }
    </script>
{% endblock %}