﻿{% extends "layout.html" %}
{% block content %}
{% load i18n %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'app/scripts/tinymce/tinymce.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/scripts/UpScript.js' %}"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea.desc",
        plugins: "code link media image",
        height: 300
    });
</script>
<div class="jumbotron" id="jumbotron" >
    <h1>{% trans "ChooseFile" %}:</h1>
    {{ form }}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="STL">
            <input type="file" name="fileToUpload" id="fileToUpload" onchange="fileSelected();" />
            <div id="fileName"></div>
            <div id="fileSize"></div>
        </div>
        </br>
        <div id="Image">
            <h1>{% trans "ChooseImage" %}:</h1>
            <input type="file" name="ImToUpload" id="ImToUpload" onchange="validImage();"/>
        </div>
        </br>
        <div id="Desc">
            <div class="form-inline">
                {% trans "Tittle" %} :
                <textarea name="Titre" cols="50" rows="1" class="form-control"></textarea>
            </div>
            </br>
            {% trans "categorie" %} :
            <select name="categorie" size="1">
                {% for i in cat %}
                <option>
                    {{i}}
                    {% endfor %}
            </select>
            </br>
            {% trans "descripte" %}
            </br>
            <textarea name="Fname" class="desc"></textarea>
        </div>
        </br>
        <button type="submit" class="btn btn-default btn-lg">
         <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Uploader
        </button>
    </form>
{% endblock %}